<ion-header [translucent]="true">
  <ion-toolbar color="dark">
     <ion-title>
      <img alt="logo" id="header_logo" height="35" border-radius="20px" src="assets/picture/Logo.jpg">&nbsp;
          <ion-text>Municipalidad de San Miguel de Tucumán</ion-text>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox color="dark" checked slot=""></ion-checkbox>
    <ion-label>Mantener Sesión Activa</ion-label><br>
  </ion-item>
  
    <ion-button expand="" class="shadow-dark" color="dark" (click)="Login()" text-align="center">Iniciar Sesión</ion-button><br>
    <ion-label>¿Eres nuevo/a?</ion-label><br>
    <ion-button expand="" class="shadow-dark" color="dark" (click)="CrearCuenta()" text-align="center">Crear Cuenta</ion-button>
</ion-content>
